<head>
    <script src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script src="{{ url_for('static', filename='procrustes.js') }}"></script>
    <style>
        * { font-family: Helvetica; }
        #add_pet { cursor: pointer; color: #44f; }
        form { font-size: large; }
        .form_label { min-width: 200px; display: inline-block; }
        textarea { min-width: 200px; min-height: 100px; border-radius: 5px; }
    </style>
</head>
<h1>Form test</h1>
<div>
{% include "i_form.html" %}
</div>
